@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap');

// VARIABLES CSS

:root{
    // ========== COLORS ==========
    --first-color: #060104;
    --second-color: hsl(195, 42%, 83%);
    --third-color: #df7828;
    --white-color: #fff;
    --text-color: #b6b6b6;
    --bg-color: #070707;
    --bg-color-2: #171e35;

    // ========== FONTS ==========
    --big-font-size: 3.5rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 1.2rem;
    --h4-font-size: 1.65rem;
    --normal-font-size: .95rem;
    --smaller-font-size: .9rem;
}


// font-family: 'Kanit', sans-serif;